<!DOCTYPE html>
<html lang="fr">
    <head>
      <title>{% block title %}{% endblock %} - Peeper</title>

      <!-- METAS -->
      {% include "base/meta.html.twig" %}

      {% block stylesheets %}{% endblock %}

    </head>
    <body>

      <div class="wrapper">

        <!-- LOADER -->
        <div id="preLoader"></div>
        <div class="square first"></div>
        <div class="square second"></div>
        <div class="square third"></div>

        <!-- ERROR -->
        <div class="cont-error">
        	<h1 class="error d-none"></h1>
        </div>

        <!-- MAIN -->
        {% block body %}{% endblock %}

      </div>

      {% block javascripts %}{% endblock %}
    </body>
</html>
